@import url("https://fonts.googleapis.com/css?family=Spinnaker");
body {
  
  font-size: 20px;
  font-family: "lato,sans-serif";
  text-align: center;
  margin: auto;
}
.row{
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 10px 20px;
    padding: 3px 20px;
    overflow: hidden;
    position: sticky;
}
  
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    font-weight: 500;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
  }
  .nav-item{
      font-family: montserrat;
      font-size: 18px;
      margin-top: 6px;
  }
  
  li a:hover {
      color: white;
-webkit-transform: scale(1.1); 
  transform: scale(1.1); 
transition-duration: 0.3s;
  }

  .btn-tray{
    position: absolute;
    right: 100px;
    z-index: 1;
  }

  .heading{
      text-align: center;
      margin-top: 20px;
      font-size: 50px;
      color: white;
  }
  body {
    background: #000;
    padding: 10px 50px;
  }
  body h1 {
    text-align: center;
    color: #fff;
  }
  
  .container {
    margin: auto;
    border: #fff solid 5px;
    background: #fff;
  }
  
  /* mak images fill their container*/
  img {
    max-width: 100%;
  }
  
  img:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  
  /* CSS Grid*/
  .img-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
  }
  
  /* Media Query for changing grid on bigger screens*/
  /* Bigger than Phones(tablet) */
  @media only screen and (min-width: 750px) {
    .img-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  /* Bigger than Phones(laptop / desktop) */
  @media only screen and (min-width: 970px) {
    .img-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
